{% extends "blogs_app/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-5">
        <h2 class="mb-4" style="font-weight: 700; letter-spacing: 1px; color: #6c2eb7; display: inline-block;">
       Edit Blog
    </h2>
    <div style="height: 4px; width: 100%; background: linear-gradient(90deg, #a084e8, #6c2eb7); border-radius: 2px; margin-bottom: 24px;"></div>
    <form action="{% url 'blogs_app:edit_blog' blog.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form field_class="theme-input" form_group_class="mb-4"%}
        {% bootstrap_button "Save Changes" button_type="submit" name="action" value="save" %}
        {% bootstrap_button "Delete" button_type="submit" name="action" value="delete" button_class="btn-danger" %}
    </form>
</div>

{% endblock content %}